{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>CORONAHJÄLP HABO<br /><span class="subheading">010-55 172 55</span></h1>
<p>
  Är du eller någon närstående i riskgruppen för Coronavirus? Är du orolig för hur du ska få matvaror och mediciner levererade om du inte kan gå till affären?
</p>
<p>
  <b>Coronahjälpen i Habo</b> är ett samarbete mellan frivilliga Habobor, <a href="https://www.habokommun.se/">Habo Kommun</a>, <a href="http://www.smyrnahabo.se/">Hagakyrkan</a>, <a href="http://missionskyrkanhabo.se/">Missionskyrkan</a>, <a href="http://www.pingstkyrkanhabo.se/">Pingstkyrkan</a>, <a href="https://kommun.redcross.se/habo/">Röda Korset</a> och <a href="https://www.svenskakyrkan.se/habo">Svenska Kyrkan</a>. Vi kan hjälpa till att handla och köra hem matvaror, mediciner, med mera. Vi håller hög hygien och lämnar varorna utanför huset för att undvika direktkontakt. Betalningen görs upp mellan dig och personen som handlar, och leveransen är gratis.
</p>
<p>
  För att beställa, ring <b>010-55 172 55</b> och tala in namn, telefonnummer och adress. En frivillig ringer sedan upp och tar beställningen.
</p>
<p>
  Du kan också lägga beställningar i vår Facebookgrupp, <a href="https://www.facebook.com/groups/coronahjalp.habo" target="blank">Coronahjälp Habo</a>.
</p>

<center>
<p id="logos">
  <img height="100px" src="{% static "habo-kommun.png" %}" />
  <img height="100px" src="{% static "kyrkorna-i-habo.jpg" %}" />
  <img height="100px" src="{% static "roda-korset.png" %}" />
</p>
</center>

<h2 id="hjalpa-till">Kan du hjälpa till?</h2>
<p>
  Om du vill hjälpa till, bli medlem i vår Facebookgrupp: <a href="https://www.facebook.com/groups/coronahjalp.habo" target="blank">Coronahjälp Habo</a>
</p>
<p>
  Du kan medverka så mycket eller lite du själv känner att du har tid och ork till.
</p>

<p>
  <center>
    <img width="400px" src="{% static "logo.jpg" %}" />
  </center>
</p>

<h2 id="hur-fungerar-det">Hur fungerar det?</h2>
<p>
  När du ringer 010-55 172 55 spelas samtalet in på en röstbrevlåda. Den lyssnas av flera gånger om dagen av en samordnare.
</p>
<p>
  Samordnaren publicerar namn och ungefärlig adress i var Facebookgrupp. En frivillig svarar på den posten, och samordnaren skickar då telefonnummer och adress på privat meddelande till den frivillige. Telefonnummer och adress publiceras aldrig öppet.
</p>
<p>
  Den frivillige ringer upp beställaren, tar beställningen, och diskuterar hur betalningen ska skötas. Det kan till exempel vara kontanter eller Swish.
</p>
<p>
  Facebookgruppen är privat (kan bara läsas av medlemmar), och nya medlemmar måste godkännas av en moderator. Alla medlemmar i gruppen är lokala Habobor.
</p>

<p>
  <center>
    <img width="400px" src="{% static "ica.jpg" %}" />
  </center>
</p>

<h2 id="uppforandekod">Coronahjälp Habos Uppförandekod</h2>
<!--<p>
  Coronahjälpen i Habo är ett samarbete mellan frivilliga Habobor, Habo Kommun, Hagakyrkan, Missionskyrkan, Pingstkyrkan, Röda Korset och Svenska Kyrkan. Vårt mål är att alla i Habo som är i riskgruppen för Coronavirus ska kunna få sina behov av matvaror, mediciner, och andra förnödenheter tillgodosedda, utan att behöva gå till mataffärer och andra miljöer där de riskerar smitta.
</p>-->

<p>
Vi vill att alla ska känna sig trygga i att kontakta Coronahjälpen i Habo, därför har vi en uppförandekod som alla frivilliga har skrivit under.
</p>

<h3>Vi håller hög hygien för att inte riskera att sprida smitta</h3>

<p>
  Om vi känner oss sjuka eller krassliga själva är vi inte med och levererar varor. Vi håller god handhygien, både när vi handlar och när vi levererar varor. Vi håller oss alltid på minst 2 meters avstånd från beställaren, och går aldrig in i beställarens hem.
</p>

<h3>Vi tar inte betalning förrän varorna har levererats</h3>

<p>
  Vi gör upp om hur betalningen ska gå till med beställaren innan vi handlar. Många av våra frivilliga har Swish, men även kontanter går bra. Vi ber aldrig om betalning innan vi har levererat varorna, och vi tar inte betalt för leveransen.
</p>

<h3>Vi behandlar alla med värdighet och respekt</h3>

<p>
  Vi har nolltolerans mot diskriminering och trakasserier. Vi är aldrig alkohol- eller drogpåverkade när vi handlar eller levererar varor. Vi värnar om personlig integritet, och lämnar endast ut namn, telefonnummer och adress till personen som handlar och levererar varor.
</p>

<p>
  <center>
    <img width="400px" src="{% static "leverans.png" %}" />
  </center>
</p>

{% endblock %}
