{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>CORONAHJÄLP HABO<br /><span class="subheading">010-55 172 55</span></h1>
<p>
  Är du eller någon närstående i riskgruppen för Coronavirus? Är du orolig för hur du ska få matvaror och mediciner levererade om du inte kan gå till affären?
</p>
<p>
  <b>Coronahjälpen i Habo</b> är ett nätverk av frivilliga Habobor som kan handla och köra ut matvaror och mediciner till behövande inom kommunen. Vi håller hög hygien och lämnar varorna utanför huset för att undvika direktkontakt. Betalningen görs upp mellan dig och personen som handlar.
</p>
<p>
  För att beställa, ring <b>010-55 172 55</b> och tala in namn, telefonnummer och adress. En frivillig ringer sedan upp och tar beställningen.
</p>
<p>
  Du kan också lägga beställningar i vår Facebookgrupp, <a href="https://www.facebook.com/groups/coronahjalp.habo" target="blank">Coronahjälp Habo</a>.

  <h2>Kan du hjälpa till?</h2>
<p>
  Om du vill hjälpa till, bli medlem i vår Facebookgrupp: <a href="https://www.facebook.com/groups/coronahjalp.habo" target="blank">Coronahjälp Habo</a>
</p>
<p>
  Du kan medverka så mycket eller lite du själv känner att du har tid och ork till.
</p>

<p>
  <center>
    <img width="400px" src="{% static "logo.jpg" %}" />
  </center>
</p>

<h2>Hur fungerar det?</h2>
<p>
  När du ringer 010-55 172 55 spelas samtalet in på en röstbrevlåda. Den lyssnas av flera gånger om dagen av en samordnare.
</p>
<p>
  Samordnaren publicerar namn och ungefärlig adress i var Facebookgrupp. En frivillig svarar på den posten, och samordnaren skickar då telefonnummer och adress på privat meddelande till den frivillige. Telefonnummer och adress publiceras aldrig öppet.
</p>
<p>
  Den frivillige ringer upp beställaren, tar beställningen, och diskuterar hur betalningen ska skötas. Det kan till exempel vara kontanter eller Swish.
</p>
<p>
  Facebookgruppen är privat (kan bara läsas av medlemmar), och nya medlemmar måste godkännas ov en moderator. Alla medlemmar i gruppen är lokala Habobor.
</p>

<p>
  <center>
    <img width="400px" src="{% static "ica.jpg" %}" />
  </center>
</p>

<h2>Hygientips för dig som leverar varor</h2>
<p>
  För att undvika att av misstag sprida smitta är det väldigt viktigt att hålla god handhygien och hålla avstånd. Folkhälsomyndigheten har <a href="https://www.folkhalsomyndigheten.se/smittskydd-beredskap/utbrott/aktuella-utbrott/covid-19/skydda-dig-och-andra/">bra information här</a>.
</p>
<h3>Om du känner dig sjuk</h3>
<p>
  Stanna hemma! Det samma gäller om du kommit i kontakt med någon som testat positivt för COVID-19 de senaste 14 dagarna.
</p>
<h3>Håll avstånd</h3>
<p>
  Håll dig alltid på minst två meters avstånd från den du levererar till. Lämna varorna utanför huset och gå inte in i huset, även om de vill bjuda dig på kaffe.
</p>
<h3>Handhygien</h3>
<p>
  Tvätta händerna noggrant (minst 20 sekunder) innan du går till affären. Undvik att röra ansikte, ögon, näsa, och mun. Innan du levererar varorna, tvätta händerna med handsprit, minst 60% alkohol.
</p>
<p>
  Uppmana även den du levererar till att tvätta händerna noggrant efter att de plockat in varorna.
</p>
<h3>Rengör kontaktytor</h3>
<p>
  Om du vill vara extra försiktig kan du rengöra kontaktytor (ratten på bilen, handtag, paketerade matvaror, plastpåsar, osv.) med klorinlösning (blanda 25 delar vatten till 1 del <a href="https://sv.wikipedia.org/wiki/Klorin">Klorin</a>).
</p>

<p>
  <center>
    <img width="400px" src="{% static "leverans.png" %}" />
  </center>
</p>

{% endblock %}
