{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coronahjälpen Habo</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
  </head>
  <body>
    <h1>CORONAHJÄLP HABO<br /><span class="subheading">010-55 172 55</span></h1>
    <p>
      Är du eller någon närstående i riskgruppen för Coronavirus? Är du orolig för hur du ska få matvaror och mediciner levererade om du inte kan gå till affären?
    </p>
    <p>
      <b>Coronahjälpen i Habo</b> är ett nätverk av frivilliga Habobor som kan handla och köra ut matvaror och mediciner till behövande inom kommunen. Vi håller hög hygien och lämnar varorna utanför huset för att undvika direktkontakt. Betalningen görs upp mellan dig och personen som handlar.
    </p>
    <p>
      För att beställa, ring <b>010-55 172 55</b> och tala in namn, telefonnummer och address. En frivillig ringer sedan upp och tar beställningen.
    </p>
    <p>
      Du kan också lägga beställningar i vår Facebookgrupp, <a href="https://www.facebook.com/groups/coronahjalp.habo" target="blank">Coronahjälp Habo</a>.

    <h2>Kan du hjälpa till?</h2>
    <p>
      Om du vill hjälpa till, bli medlem i vår Facebookgrupp: <a href="https://www.facebook.com/groups/coronahjalp.habo" target="blank">Coronahjälp Habo</a>
    </p>
    <p>
      Du kan medverka så mycket eller lite du själv känner att du har tid och ork till.
    </p>

    <p>
      <center>
        <img width="400px" src="{% static "logo.jpg" %}" alt="Logo" />
      </center>
    </p>

  </body>
</html>
